#main {
    overflow: hidden;
}

.btn {
    float: left;
}

.ButtonStyle {
    background-color: red;
}

.yellowDiv {
    background-color: yellow;
    margin: 5px 0 0 0;
}

.dropdown-content {
    display: none;
    width: 200px;
}

.displayNone {
    display: none;
}

.displayShow {
    display: inline-block;
}